* {
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

.App {
	text-align: center;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 28pt;
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
}

a {
	outline: 0;
}