@keyframes show-toast {
    0% { 
        opacity: 0;
        display: inline-block;
    }
    25% { 
        opacity: 1;
    }
    75% { 
        opacity: 1;
    }
    99% {
        z-index: 1;
    }
    100% { 
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

.toast {
    position: fixed;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 1em;
    background-color: #0052f6;
    color: white;
    animation: show-toast 1.5s 1 forwards;
}
