
.post-view {
    margin: 20px auto 15px;
}

.post-view h1 {
  text-align: center;
}

.post-view p {
  margin: 1.5em;
}

.post-view a {
  color: #364399;
}

.post-view hr {
  margin: 3em 3em 5em;
}

img {
  display: block;
  width: 45% !important;
  margin: auto !important;
  /* max-height:  !important; */
}

ul {
  display: inline-block;
  text-align: left;
}
