.editor-page {
	width: 60%;
	margin: auto;
}

.editor-page h1 {
	text-align: center;
	margin: 0.5em;
}

.actions button {
	outline: none;
	border: 0.5px black solid;
	margin: 0.5em;
	font-size: 16pt;
	font-family: 'Playfair Display', serif;
	padding: 0.5em;
	transition: 0.2s;
}

.actions button:hover {
	background-color: #CCCCCC;
	cursor: pointer;
	transition: 0.2s;
}

#editor-root {
	text-align: left;
	border: 1px solid #ddd;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	padding: 15px;
}

#post-editor {
	border-top: 1px solid #ddd;
	cursor: text;
	margin-top: 0.5em;
	padding-top: 2em;
	min-height: 200px;
	text-align: justify;
}

#post-editor .blockquote {
	border-left: 5px solid #eee;
	color: #666;
	font-family: 'Hoefler Text', 'Georgia', serif;
	font-style: italic;
	margin: 16px 0;
	padding: 10px 20px;
}

.align-justify {
	text-align: justify;
}

.public-DraftStyleDefault-ltr {
  	text-align: inherit;
}

.align-justify .public-DraftStyleDefault-ltr {
	text-align: justify;
	white-space: normal;
}

#post-editor .public-DraftStyleDefault-pre {
  	background-color: rgba(0, 0, 0, 0.05);
  	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  	padding: 20px;
}

.public-DraftStyleDefault-ltr {
	text-align: justify;
}

.controls {
	font-family: 'Helvetica', sans-serif;
	margin-bottom: 5px;
	user-select: none;
}

.styleButton {
	color: #999999;
	cursor: pointer;
	margin-right: 16px;
	padding: 2px 0;
	display: inline-block;
}

.activeButton {
	color: #5890ff;
}

input[type="text"]{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 23pt;
	margin: 1em;
	outline: 0;
	border: none;
	width: 100%;
}

.show-preview {
	display: block;
	transition: ease-in;
}

.hide-preview {
	display: none;
	transition: ease-out;
}