* {
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
	font-family: 'Roboto Slab', serif;
}

.App {
	text-align: center;
	align-items: center;
	justify-content: center;
}

::selection {
	background-color: #364399;
	color: #fff;
}

h1 {
	font-size: 28pt;
	text-align: left;
}

h1,h2,h3 {
	font-family: 'Yeseva One', cursive;
}

p {
	text-align: justify;
}

a {
    outline: 0;
	text-decoration: none;
}

blockquote {
	width: 80%;
	margin: auto;
	font-style: italic;
}

@media (min-width: 0px) {
	.post-view, .about {
		width: 90%;
	}
	.box {
		width: 60%;
	}
  }
  
  @media (min-width: 768px) {
	.post-view, .about {
	  	width: 80%;
	}
	.box {
		width: 50%;
	}
  }
  
  @media (min-width: 992px) {
	.post-view, .about {
	  	width: 70%;
	}
	.box {
		width: 30%;
	}
  }
  